* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

@font-face {
    font-family: 'logo';
    src: url(./assets/fonts/GrandHotel-Regular_a5295e988a81286ff76d7c4948a0b8a5.ttf);
}