* {
    font-family: 'Lato', sans-serif;
}

#home {
    min-height: 100vh;
    width: 100%;
}

.presentation {
    display: flex;
}

.presentation .textPres {
    width: 50%;
    /* border: 1px solid red; */
    padding: 70px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.presentation .textPres h1 {
    font-size: 4.5rem;
    /* font-weight: lighter; */
    font-weight: 400;
    margin-bottom: 2rem;
    animation: fadeInUp 2s ease;
}

.presentation .textPres p {
    margin-bottom: 2rem;
    animation: fadeInUp 3s ease;
    font-weight: 600;
    color: black;
    
}

.imgPres {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    animation: fadeInUp 1s ease;

}

.textPres button {
    border: none;
    outline: none;
    padding: 15px 30px 15px 30px;
    width: 40%;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 10px;
    background: rgb(0, 117, 213);
    color: #fff;
    transition: .3s ease;
    animation: fadeInUp .5s ease;
    box-shadow: rgba(0, 0, 0, 0.372) 0px 7px 18px;

    
}

.textPres button:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.textPres button:active {
    transform: scale(1);
}

.defrence {
    width: 100%;
}

.defrence .title {
    text-align: center;
    width: 100%;
}

.defrence .title h2 {
    color: rgb(0, 117, 213);
    margin-bottom: 1rem;
}
.defrence .title h1 {
    font-size: 2rem;
}

/* ====================== ANIMATION ====================== */

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* ====================== ANIMATION ====================== */


/* ================== RESP ================== */

@media (max-width: 1270px) {
    .imgPres {
        display: none;
    }

    
    .presentation .textPres {
        width: 70%;
    }
}

@media (max-width: 1270px) {
    .presentation .textPres {
        width: 80%;
    }

}

@media (max-width: 860px) {
    .presentation .textPres {
        width: 100%;
    }

}

@media (max-width: 700px) {
    .presentation .textPres h1 {
        font-size: 10vw;
    }

    .textPres button {
        border: none;
        outline: none;
        padding: 10px 20px 10px 20px;
        width: 40%;
        font-size: 1rem;
    }
    
}

@media (max-width: 560px) {
    .presentation .textPres h1 {
        font-size: 8vw;
    }

    .presentation .textPres p {
        font-size: .8rem;
    }

    .textPres button {
        width: 50%;
    }

}

@media (max-width: 460px) {
    
    .textPres button {
        width: 60%;
    }
}